/*body {
  background-color: black;
  overflow-x: hidden;
}*/

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Mirum-Sans';
  src: url(./fonts/Mirum-Sans.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Bold-Oblique';
  src: url(./fonts/Mirum-Sans-Bold-Oblique.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Bold';
  src: url(./fonts/Mirum-Sans-Bold.otf)
}

@font-face {
  font-family: 'Mirum-Serif';
  src: url(./fonts/Mirum-Serif.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Oblique';
  src: url(./fonts/Mirum-Sans-Oblique.otf)
}

#navIconWrapper {
  top: 3%;
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  z-index:10;
  max-width: 50px;
}
@media (min-width: 700px){
  #navIconWrapper {
    max-width: 76px;
  }
}

#navIcon {
  height: 50px;
  width: 50px;
  background: #311836;
}
@media (min-width: 700px){
  #navIcon {
    height: 70px;
    width: 70px;
    background: #311836;
    z-index:10;
    cursor: pointer;
  }
}

#activeNavIcon {
  height: 50px;
  width: 50px;
  background: #311836;
  position: -webkit-sticky;
  position: sticky;
  z-index:10;
  top:3%;
  cursor: pointer;
}
@media (min-width: 700px){
  #activeNavIcon {
    height: 70px;
    width: 70px;
    background: #E24498;
    position: -webkit-sticky;
    position: sticky;
    z-index:10;
    top:3%;
    cursor: pointer;
  }
}

#expandedNav {
  background-color: #E24498;
  z-index:9;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%;
  height: 50%;
  display: block;
  padding-top: 15px;
}

#getTicketsContainer {
  background-color: #E24498;
  z-index:4;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 50px 10px 50px;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  #expandedNav {
    background-color: #E24498;
    z-index:9;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    padding: 10%;
    display: block;
  }
}

#navLogo {
  width: 150px;
  display: inline-block;
  margin-left: 27%;
}
@media (min-width: 700px) {
  #navLogo {
    width: 220px;
    display: inline-block;
    margin-left: 0;
  }
}

#navList {
  font-size: 2em;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  #navList {
    font-size: 4em;
    color: white;
    width: 60%;
    margin-top: 50px;
    margin-left: 15%;
    display: inline-block;
    margin-bottom: 0;
  }
}

.navLink {
  cursor: pointer;
}

#closeNav {
  font-size: 2em;
  color: white;
  position: absolute;
  margin-left: 85%;
  top: 5%;
  cursor: pointer;
}
@media (min-width: 700px) {
  #closeNav {
    font-size: 3em;
    color: white;
    float: right;
    cursor: pointer;
    margin-left: 65%;
    top: 15%;
  }
}

#closeTicketBox {
  font-size: 3em;
  color: white;
  cursor: pointer;
  margin-left: 90%;

}

/*.header {
  text-align:center;
  padding: 65px 0;
  border: 1px red dashed;
}

.content {
  padding: 500px 0;
  text-align:center;
  border: 1px red dashed;
}
.footer {
  padding: 100px 0;
  text-align:center;
  background: #777;
  border: 1px red dashed;
}

.particles {
  position: absolute;
  z-index: -5;
}*/

#landingPage--mobile {
  margin-top: -50px;
  height: 630px;
  width: 100%;
}
#landingPage {
  background-color: black;
  margin-top: -70px;
  height: 700px;
  width: 100%;
}

#landingPhoto--mobile {
  height: 630px;
  width: 100%;
  position: absolute;
}
#landingPhoto {
  opacity: .7;
  height: 700px;
  width: 100%;
  position: absolute;
}

#landingMirumOpusLogo--mobile {
  position: relative;
  width: 40%;
  color: white;
  font-size: 6em;
  margin-left: 30%;
  z-index: 1;
  padding-top: 20px;
}
#landingMirumOpusLogo {
  position: absolute;
  margin-left: 13%;
  width: 300px;
  padding-top: 20%;
  z-index: 5;
}


#presentedBy--mobile {
  color: white;
  font-family: 'Mirum-Serif';
  font-size: 1em;
  margin-top: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  position: absolute;
}

#presentedBy {
  color: white;
  font-family: 'Mirum-Serif';
  font-size: 1em;
  margin-left: 7%;
  width:100%;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
}

#presentedBy img {
  vertical-align: middle;
}

#presentedBy--text {
  display: block;
  text-align: center;
}
@media (min-width:700px){
  #presentedBy--text {
  display: inline;
  }
}

#presentedBy--logo1--mobile {
  width: 40%;
  margin-top: 5px;
  margin-bottom: 2px;
}
#presentedBy--logo1 {
  margin-left: 20px;
  margin-top: 0;
  display: inline;
  margin-bottom: 0;
}

#presentedBy--logo2--mobile {
  width: 20%;
}
#presentedBy--logo2 {
  margin-left: 20px;
  display: inline;
}

#presentedBy--logo3--mobile {
  width: 25%;
  margin-left: 10%;
  display: inline;
}
#presentedBy--logo3 {
  margin-left: 25px;
  display: inline;
  width: 100%;
}

#lingotek_logo {
  width: 120px;
}

#landingBackground {
  color: white;
}

#textbox-white--mobile {
  border: 15px solid white;
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 60%;
  padding: 10px;
  margin-left: 13.5%;
  margin-right: 5%;
  margin-top: 5%;
}
#textbox-white {
  border: 23px solid white;
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 415px;
  margin-left: 37%;
  margin-top: 9%;
  display: block;
  text-align: left;
}

#textbox__title--white--mobile {
  margin-top: 7px;
  color: white;
  font-size: 3em;
  margin-left: 3px;
  margin-bottom: 30px;
}
#textbox__title--white {
  color: white;
  font-size: 4.5em;
  margin-left: 10px;
}

.purposeLed {
  font-size: .75em;
}

#textbox__subheading--white--mobile {
  color: white;
  font-size: 1.75em;
  width: 80%;
  margin-left: 10px;
}
#textbox__subheading--white {
  color: white;
  font-size: 1.75em;
  width: 60%;
  margin-left: 10px;
}


/*styling for time and place component*/

.timeAndPlaceContainer {
  height: 500px;
  width: 100%;
  background-color: #DCDCDC;
  padding-top: 30px;
}
@media (min-width:700px) and (max-width: 1500px) {
  .timeAndPlaceContainer {
    height: 700px;
    width: 100%;
    background-color: #DCDCDC;
    padding-top: -30px;
  }
}
@media (min-width:1500px) {
  .timeAndPlaceContainer {
    height: 850px;
    width: 100%;
    background-color: #DCDCDC;
    padding-top: -30px;
  }
}

#timeandplace_heading {
  margin-top: 40px;
  font-size: 1.8em;
  z-index: 1;
  text-align: center;
  margin-bottom: 90px;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px) {
  #timeandplace_heading {
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.8em;
    z-index: 1;
    font-family: 'Mirum-Sans';
  }
}

.companyLogo {
  width: 20%;
  color: white;
  font-size: 6em;
  z-index: 1;
  display: block;
  text-align: center;
  position: absolute;
  margin-top: 5%;
  margin-left: 17%;
}
@media (min-width: 700px){
  .companyLogo {
    position: absolute;
    color: white;
    font-size: 6em;
    margin-left: 15%;
    margin-top: 30%;
    z-index: 1;
  }
}


#mirumopusHashtag {
  text-align: center;
  width: 100%;
  margin-top: 3%;
  font-size: 2em;
  font-family: 'Mirum Serif';
  color: #311836;
}
@media (min-width:700px) {
  #mirumopusHashtag {
    float: right;
    margin-top: 4%;
    font-size: 2em;
    margin-right: 5%;
    text-align: right;
    font-family: 'Mirum Serif';
  }
}


#getTickets {
  height: 40px;
  width: 250px;
  background-color: #E24498;
  float: right;
  padding-top: 10px;
  position: sticky;
  top: 3%;
  color: white;
  text-align: center;
  margin-top: -25px;
  z-index: 5;
  font-family: 'Mirum-Sans-Bold';
  cursor: pointer;
}
@media (min-width:700px) {
  #getTickets {
    height: 47px;
    width: 250px;
    background-color: #E24498;
    float: right;
    padding-top: 1.2%;
    position: sticky;
    top: 3%;
    color: white;
    text-align: center;
    margin-top: -35px;
    margin-right: 5%;
    z-index: 5;
  }
}

#getTicketsLink {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#section_heading {
  font-size: 1.8em;
  z-index: 1;
  text-align: center;
  font-family: 'Mirum-Sans';
}
@media (min-width:700px) {
  #section_heading {
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.8em;
    z-index: 1;
  }
}


#eventTextBox {
  margin-left: 12%;
  margin-bottom: 200px;
  z-index: 1;
  margin-top: -100px;
}
@media (min-width:700px) {
  #eventTextBox {
    margin-bottom: 0px;
    margin-left: 37%;
    margin-top: 4.5%;
    z-index: 1;
  }
}

.SDtextbox {
  border: 15px solid #311836;
  height: 300px;
  padding: 10px;
  width: 70%;
  z-index: 1;
  position: relative;
  display: inline-block;
}
@media (min-width:700px) {
  .SDtextbox {
    border: 23px solid #311836;
    width: 350px;
    height: 415px;
    padding: 0;
    z-index: 1;
    position: relative;
    display: inline-block;
  }
}

.SDtextbox__title {
  color: #311836;
  font-size: 4em;
  margin-left: 10px;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width:700px) {
  .SDtextbox__title {
    font-size: 6em;
    margin-left: 10px;
    font-family: 'Mirum-Sans-Bold';
  }
}

.SDtextbox__subheading {
  color: #311836;
  font-size: 1.8em;
  bottom: 0;
  position: absolute;
  margin-left: 3%;
  margin-bottom: 20%;
  width: 70%;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width: 700px) {
  .SDtextbox__subheading {
    font-size: 2.5em;
    bottom: 0;
    position: absolute;
    margin-left: 3%;
    margin-bottom: 10%;
    width: 60%;
    font-family: 'Mirum-Sans-Bold';
  }
}

#datetime--mobile {
  margin-top: -165px;
}

#mapMarker {
  position: absolute;
  height: 70px;
  z-index: 1;
}
@media (min-width: 700px) {
  #mapMarker {
    margin-left: 20%;
    position: absolute;
    height: 150px;
    z-index: 1;
  }
}

#date {
  font-size: 3em;
  margin-left: 35%;
  display: inline-block;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}
@media (min-width: 700px) {
  #date {
    font-size: 4.5em;
    margin-left: 66%;
    margin-top: -7%;
    display: block;
    font-family: "Mirum-Sans-Bold";
  }
}

#day {
  color: #E24498;
  font-size: 2em;
  margin-top: -6%;
  z-index: 1;
  font-family: "Mirum-Sans-Bold";
}

#time {
  font-size: 2.5em;
  margin-left: 5%;
  z-index: 1;
  display: inline-block;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}
@media (min-width: 700px) {
  #time {
    font-size: 2.5em;
    margin-left: 76%;
    margin-top: -8%;
    z-index: 1;
    display: block;
    font-family: "Mirum-Sans-Bold";
  }
}


/*styling for about section (photo, words, video)*/

.about {
  height: 1500px;
  width: 100%;
  background-color: #DCDCDC;
}
@media (min-width: 700px) and (max-width: 1500px){
  .about {
    height: 2150px;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 1500px) {
  .about {
    height: 2200px;
    width: 100%;
    margin-bottom: 10px;
  }
}


#photoAndParagraph {
  margin-top: -12%;
  position: relative;
  z-index: 1;
}

#mission {
  font-size: 2em;
  width: 80%;
  margin-top: -100px;
  margin-left: 10%;
  z-index: 1;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width: 700px) {
  #mission {
    font-size: 2.5em;
    width: 30%;
    margin-top: -20%;
    margin-left: 13%;
    z-index: 1;
    font-family: 'Mirum-Sans';
  }
}


#detailsPhoto {
  float: right;
  height: 300px;
  z-index: 1;
  position: relative;
  margin-top: -20%;
  margin-bottom: 20px;
}
@media (min-width:700px) {
  #detailsPhoto {
    float: right;
    width: 55%;
    height: auto;
    z-index: 1;
    position: relative;
    margin-top: -10%;
  }
}


.titleText {
  font-size: 3em;
  width: 100%;
  text-align: center;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}
@media (min-width: 700px) {
  .titleText {
    font-size: 5em;
    display: block;
    text-align: left;
    margin-left: 50%;
    margin-bottom: 0.55%;
    font-family: "Mirum-Sans-Bold";
    width: 30%;
    line-height: .9;
  }
}

.descriptionParagraph {
  font-size: 1em;
  width: 90%;
  margin-left: 5%;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width: 700px) {
  .descriptionParagraph {
    font-size: 1.1em;
    margin-left: 50%;
    width: 25%;
    font-family: 'Mirum-Sans';
  }
}

#videoIntro {
  font-size: 1.5em;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 1.0576%;
  margin-left: 10%;
  font-family: 'Mirum-Serif';
  color: #311836;
}
@media (min-width: 700px) {
  #videoIntro {
    font-size: 1.7em;
    line-height: 2;
    width: 44%;
    margin-top: -1.0576%;
    margin-bottom: 1.0576%;
    margin-left: 90px;
    font-family: 'Mirum-Serif';
  }
}

#video {
  color: white;
  width: 100%;
  height: 211px;
  text-align: center;
  font-size: 6em;
}
@media (min-width:700px) {
  #video {
    color: white;
    width: 100%;
    height: 810px;
    text-align: center;
    font-size: 6em;
  }
}


/*styling for speakers page*/

.speakersPage {
  height: 4550px;
  width: 100%;
  margin-top: -35%;
  background-color: #DCDCDC;
}
@media (min-width: 700px) {
  .speakersPage {
    height: 4500px;
    width: 100%;
    background-color: #DCDCDC;
  }
}

.middleSpeaker {
  padding-top: 10%;
  padding-bottom: 10%;
}
@media (min-width: 700px){
  .middleSpeaker {
    margin-left: 30%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.speakerRow {
  margin-top: 5%;
  margin-bottom: 5%;
}

.leftSpeakerBox {
  top: 0;
  display: block;
  padding-bottom: 5%;
}
@media (min-width: 700px) and (max-width: 1500px){
  .leftSpeakerBox {
    top: 0;
    margin-left: 12%;
    display: inline-block;
  }
}
@media (min-width: 1500px){
  .leftSpeakerBox {
    margin-left: 16%;
    display: inline-block;
  }
}

.leftSpeakerImg {
  display: inline-block;
  margin-left: 23px;

}

.rightSpeakerBox {
  top: 0;
  display: block;
  margin-top: 60px;
}
@media (min-width: 700px){
  .rightSpeakerBox {
    top: 0;
    margin-left: 15%;
    display: inline-block;
  }
}

.middleSpeaker:hover .top{
  opacity:0;
}

.leftSpeakerBox:hover .top{
  opacity:0;
}


.rightSpeakerBox:hover .top{
  opacity:0;
}

.portrait {
  margin-top: -7%;
  width: 250px;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}
@media (min-width: 700px) {
  .portrait {
    margin-top: -60px;
    margin-left: 250px;
    height: 395px;
    width: 320px;
    opacity: 1;
    display: inline-block;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

.portrait--left{
  width: 250px;
  height: auto;
  opacity: 1;
  margin-top: -7%;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}
@media (min-width: 700px) {
  .portrait--left{
    margin-top: -60px;
    margin-left: 150px;
    height: 395px;
    width: 320px;
    opacity: 1;
    display: inline-block;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

.portrait--right{
  width: 250px;
  height: auto;
  margin-top: -7%;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}
@media (min-width: 700px) {
  .portrait--right {
    margin-top: -60px;
    margin-left: 150px;
    height: 395px;
    width: 320px;
    opacity: 1;
    display: inline-block;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

.portrait-last {
  margin-top: -10%;
  width: 250px;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}
@media (min-width: 700px) {
  .portrait-last {
    margin-top: -100px;
    margin-left: 250px;
    height: 395px;
    width: 320px;
    opacity: 1;
    display: inline-block;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}
.textbox--fade {
  opacity: .5;
  border: 23px solid #311836;
  width: 350px;
  height: 415px;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.textbox {
  border: 15px solid #311836;
  height: 300px;
  width: 250px;
  padding: 0;
  z-index: 1;
  position: relative;
  display: block;
  margin-left: 10%;
}
@media (min-width:700px) {
  .textbox {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    z-index: 1;
    position: relative;
    display: inline-block;
  }
}

.textbox__title {
  color: #311836;
  font-size: 3em;
  /*margin-left: 10px;*/
  margin-top: 30px;
  margin-bottom: -20px;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width:700px) {
  .textbox__title {
    color: #311836;
    font-size: 4em;
    /*margin-left: 10px;*/
    margin-top: 30px;
    margin-bottom: -20px;
    font-family: 'Mirum-Sans-Bold';
  }
}

.textbox1__title {
  color: #311836;
  font-size: 3em;
  /*margin-left: 10px;*/
  margin-bottom: -20px;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width:700px) {
  .textbox1__title {
    color: #311836;
    font-size: 4em;
    /*margin-left: 10px;*/
    margin-top: 30px;
    margin-bottom: -20px;
    font-family: 'Mirum-Sans-Bold';
  }
}

.textbox2__title{
  color: #311836;
  font-size: 3em;
  /*margin-left: 10px;*/
  margin-top: 80px;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px){
  .textbox2__title{
    color: #311836;
    font-size: 3em;
    /*margin-left: 10px;*/
    margin-top: 140px;
    margin-bottom: -20px;
    font-family: 'Mirum-Sans-Bold';
  }
}

.textbox__subheading {
  color: #311836;
  font-size: 1.5em;
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px) {
  .textbox__subheading {
    color: #311836;
    font-size: 1.75em;
    bottom: 0;
    position: absolute;
    margin-bottom: 5%;
    font-family: 'Mirum-Sans-Bold';
  }
}

.textbox2__subheading {
  color: #311836;
  font-size: 1.75em;
  bottom: 0;
  position: absolute;
  margin-bottom: 65%;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px) {
  .textbox2__subheading {
    color: #311836;
    font-size: 1.75em;
    bottom: 0;
    position: absolute;
    margin-bottom: 60%;
    font-family: 'Mirum-Sans-Bold';
  }
}

.keynoteText {
  margin-left: 4%;
}

.keynoteTitle {
  font-size: 1.4em;
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: 10%;
  font-family: 'Mirum-Serif';
  color: #311836;
}
@media (min-width:700px){
  .keynoteTitle {
    font-size: 1.4em;
    margin-top: 1%;
    margin-bottom: 0;
    font-family: 'Mirum-Serif';
  }
}

.keynoteDescription {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px){
  .keynoteDescription {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Mirum-Sans'
  }
}

#speakers {
  margin-top: 30%;
  margin-left: 10%;
  font-size: 1.8em;
  font-family: 'Mirum-Sans';
}

.plus{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 40%;
}
@media (min-width:700px) and (max-width:1700px){
  .plus{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 6%;
    margin-top: 15%;
  }
}
@media (min-width:1700px){
  .plus{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 6%;
    margin-top: 12%;
  }
}

.plus--middle{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 44%;
}

@media (min-width:700px) and (max-width:1700px){
  .plus--middle{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 10%;
    margin-top: 17%;
  }
}
@media (min-width:1700px){
  .plus--middle{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 10%;
    margin-top: 12%;
  }
}

.plus--middle2{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 40%;
}
@media (min-width:700px) and (max-width:1700px){
  .plus--middle2{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 10%;
    margin-top: 17%;
  }
}
@media (min-width:1700px){
  .plus--middle2{
    z-index: 1;
    position: absolute;
    height: 50px;
    margin-left: 10%;
    margin-top: 12%;
  }
}

.demosandworkshopsPage {
  width: 100%;
  background-color: #DCDCDC;
  height: 1650px;
}

@media (min-width:700px){
  .demosandworkshopsPage {
    width: 100%;
    background-color: #DCDCDC;
    height: 1700px;
  }
}

#workshop_elements {
  padding-top: 12%;
  display: block;
}

#workshop_elements--inline {
  display: block;
  margin-bottom: 3%;
}

#workshopElement--left {
  display: block;
  margin: 5%;
}
@media (min-width:700px){
  #workshopElement--left {
    display: inline-block;
    margin-left: 10%;
    width: 31%;
  }
}

#workshopElement--right {
  display: block;
  margin-left: 5%;
}
@media (min-width:700px) {
  #workshopElement--right {
    display: inline-block;
    margin-left: 10%;
    width: 31%;
  }
}

.workshopParagraph {
  font-size: 1.1em;
  display: inline-block;
  text-align: left;
  font-family: 'Mirum-Sans';
}
@media (min-width: 700px) {
  .workshopParagraph {
    font-size: 1.1em;
    display: inline-block;
    font-family: 'Mirum-Sans';
    padding-left: 10%;
  }
}

.demosandworkshops--bottom {
  display: block;
  margin-left: 5%;
}
@media (min-width: 700px){
  .demosandworkshops--bottom {
    display: block;
    margin-left: 35%;
    width: 31%;
  }
}

#footer {
  width: 100%;
  background-color: #DCDCDC;
  height: 800px;
}
@media (min-width:1000px){
  #footer {
    width: 100%;
    background-color: #DCDCDC;
    height: 1100px;
  }
}

#mirum-pic{
  height: auto;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
@media (min-width:700px){
  #mirum-pic{
    height: auto;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
  }
}

#btm-text{
  position: absolute;
  margin: 0% 10% 0% 10%;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px) {
  #btm-text{
    position: absolute;
    margin: 10% 5% 0% 1%;
    display: inline-block;
    font-family: 'Mirum-Sans';
  }
}

#twitter{
  width:60px;
  height:60px;
  fill: #311836;
  /*display: block;
  position: absolute;*/
  margin-top: 85%;
  margin-left: 0%;
}

@media (min-width:700px){
  #twitter{
    width:60px;
    height:60px;
    /*position: absolute;*/
    margin-top: 0%;
    margin-left: 0%;
  }
}

#facebook{
  width:60px;
  height:60px;
  fill: #311836;
  /*position: absolute;
  margin-top: 85%;
  display: block;*/
  margin-left: 15%;
}

@media (min-width:700px){
  #facebook{
    width:60px;
    fill: #311836;
    /*height:60px;
    position: absolute;
    margin-top: 65%;*/
    margin-left: 0;
  }
}

#linkedin{
  width:60px;
  height:60px;
  fill: #311836;
  /*position: absolute;
  margin-top: 85%;
  margin-left: 70%;
  display: block;*/
}

@media (min-width:700px){
  #linkedin{
    width:60px;
    height:60px;
    /*position: absolute;
    margin-top: 65%;
    margin-left: 15%;*/
  }
}

#instagram{
  width:60px;
  height:60px;
  fill: #311836;
  /*position: absolute;
  margin-top: 85%;
  margin-left: 30%;
  display: block;*/
}

@media (min-width:700px){
  #instagram{
    width:60px;
    height:60px;
    /*position: absolute;
    margin-top: 65%;
    margin-left: 5%;*/
  }
}

#social{
  margin-top: 40%;
  position:relative;
  margin-left: 1%;
}
@media (min width: 700px){
  #social{
    margin-top: 40%;
    position:absolute;
    margin-left: 1%;
  }
}
