body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Mirum-Sans';
  src: url(./fonts/Mirum-Sans.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Bold-Oblique';
  src: url(./fonts/Mirum-Sans-Bold-Oblique.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Bold';
  src: url(./fonts/Mirum-Sans-Bold.otf)
}

@font-face {
  font-family: 'Mirum-Serif';
  src: url(./fonts/Mirum-Serif.otf)
}

@font-face {
  font-family: 'Mirum-Sans-Oblique';
  src: url(./fonts/Mirum-Sans-Oblique.otf)
}

#navIconWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index:10;
  max-width: 50px;
  margin-top: 20px;
}
@media (min-width: 700px){
  #navIconWrapper {
    max-width: 76px;
    margin-top: 25px;
  }
}

.navIconBtn {
  height: 70px;
  width: 70px;
  background-color: #311836;
  box-sizing: border-box;
  padding: 19px 10px;
  transform: scale(.7) translateX(-15px) translateY(-15px);
}
@media (min-width: 700px){
  .navIconBtn {
    transform: scale(1);
  }
}

.navIconBtn__bar {
  background-color: #fff;
  width: 100%;
  height: 3px;
  margin-bottom: 12px;
}
.navIconBtn__bar:nth-child(3) {
  width: 60%;
}

#navIcon {
  background: #311836;
}
@media (min-width: 700px){
  #navIcon {
    height: 70px;
    width: 70px;
    z-index:10;
    cursor: pointer;
  }
}

#activeNavIcon {
  background: #E24498;
  position: -webkit-sticky;
  position: sticky;
  z-index:10;
  top:3%;
  cursor: pointer;
}
@media (min-width: 700px){
  #activeNavIcon {
    height: 70px;
    width: 70px;
  }
}

#expandedNav {
  background-color: #E24498;
  z-index:9;
  /*position: -webkit-sticky;*/
  position: fixed;
  top:0;
  width: 100%;
  height: 50%;
  display: block;
  padding-top: 15px;
}
@media (min-width: 700px) {
  #expandedNav {
    padding: 10%;
  }
}

#getTicketsContainer {
  background-color: #E24498;
  z-index:6;
  /*position: -webkit-sticky;*/
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  display: none;
  padding: 50px 10px 50px;
  box-sizing: border-box;
}

#getTicketsContainer.open {
  display: block;
}

#navLogo {
  width: 150px;
  display: inline-block;
  margin-left: 27%;
}
@media (min-width: 700px) {
  #navLogo {
    width: 220px;
    margin-left: 0;
  }
}

#navList {
  font-size: 2em;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width: 700px) {
  #navList {
    font-size: 4em;
    width: 60%;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 0;
  }
}

.navLink {
  cursor: pointer;
}

#closeNav {
  font-size: 2em;
  color: white;
  position: absolute;
  margin-left: 80%;
  top: 40px;
  cursor: pointer;
}
@media (min-width: 700px) {
  #closeNav,
  .modal-close{
    font-size: 3em;
    color: white;
    float: right;
    cursor: pointer;
    margin-left: 65%;
    top: 15%;
  }
  .modal-close{
    margin-right: 10%;
    transform: translateY(180px) scale(1.2);
  }
}

.closeModalBar1 {
  transform: rotateZ(-45deg);
  height: 9px;
  width: 55px;
  background-color: white;
}
.closeModalBar2 {
  transform: translateY(-100%) rotateZ(45deg);
  height: 9px;
  width: 55px;
  background-color: white;
}

#closeTicketBox {
  font-size: 3em;
  color: white;
  cursor: pointer;
  margin-left: 80%;
  position: absolute;
  margin-top: -15px;
}

@media (min-width: 700px) {
  #closeTicketBox {
    font-size: 3em;
    color: white;
    cursor: pointer;
    margin-left: 90%;
    position: absolute;
    margin-top: 50px;
  }
}

#landingPage--mobile {
  margin-top: -90px;
  height: 650px;
  width: 100%;
}
#landingPage {
  background-color: black;
  z-index: -2;
  margin-top: -95px;
  height: 700px;
  width: 100%;
  overflow: hidden;
  auto: 100%;
  position: relative;
}

#landingPage #textbox__subheading--white {
  display: none;
}

#landingPhoto--mobile {
  height: 650px;
  width: 100%;
  position: absolute;
}

#landingPhoto--ipad{
  height: 700px;
  width: 100%;
  position: absolute;
}


#landingPhoto {
  opacity: .7;
  width: 100%;
  position: absolute;
}

@media(max-width:768px){
  #landingPhoto {
    opacity: .7;
    width: 100%;
    position: absolute;
    height: 970px;
  }
}


#landingMirumOpusLogo--mobile {
  position: relative;
  width: 40%;
  color: white;
  font-size: 6em;
  margin-left: 30%;
  z-index: 1;
  padding-top: 20px;
}

#landingMirumOpusLogo {
  position: absolute;
  margin-left: 13%;
  width: 300px;
  padding-top: 20%;
  z-index: 5;
}

@media (max-width: 768px){
  #landingMirumOpusLogo {
    position: absolute;
    margin-left: 5%;
    width: 175px;
    padding-top: 40%;
    z-index: 5;
  }
}

#presentedBy--mobile {
  color: white;
  font-family: 'Mirum-Serif';
  font-size: 1em;
  margin-top: 380px;
  width: 100%;
  z-index: 1;
  text-align: center;
  position: absolute;
}

.presentedby--mobile-logos img {
  vertical-align: middle;
}

#presentedBy {
  color: white;
  font-family: 'Mirum-Serif';
  font-size: 1em;
  margin-left: 12%;
  width:100%;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
}
@media (min-width: 769px){
  #presentedBy {
    margin-left: 7%;
  }
}

#presentedBy img {
  vertical-align: middle;
}

#presentedBy--text {
  display: block;
  text-align: center;
}
@media (min-width:700px){
  #presentedBy--text {
  display: inline;
  }
}

#presentedBy--logo1--mobile {
  width: 40%;
  margin-top: 5px;
  margin-bottom: 2px;
}
#presentedBy--logo1 {
  margin-left: 20px;
  margin-top: 0;
  display: inline;
  margin-bottom: 0;
}

#presentedBy--logo2--mobile {
  width: 20%;
  vertical-align: middle;
}
#presentedBy--logo2 {
  margin-left: 20px;
  display: inline;
}
/*
#presentedBy--logo3--mobile {
  width: 25%;
  margin-left: 10%;
  display: inline;
  vertical-align: middle;
}
#presentedBy--logo3 {
  margin-left: 25px;
  display: inline;
  width: 100%;
}*/


#landingBackground {
  color: white;
}

#textbox-white--mobile {
  border: 15px solid white;
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 60%;
  padding: 10px;
  margin-left: 13.5%;
  margin-right: 5%;
  margin-top: 5%;
}
#textbox-white {
  border: 23px solid white;
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 415px;
  margin-left: 37%;
  margin-top: 9%;
  display: block;
  text-align: left;
}

@media(max-width: 768px){
  #textbox-white {
    border: 15px solid white;
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 315px;
    margin-left: 30%;
    margin-top: 25%;
    display: block;
    text-align: left;
  }
}

#textbox__title--white--mobile {
  font-family: "Mirum-Sans-Bold";
  margin-top: 50px;
  color: white;
  font-size: 3em;
  margin-left: 3px;
  margin-bottom: 30px;
}

#textbox__title--white {
  font-family: "Mirum-Sans-Bold";
  color: white;
  font-size: 4.5em;
  margin-left: 10px;
}

@media(max-width:768px){
  #textbox__title--white {
    font-family: "Mirum-Sans-Bold";
    color: white;
    font-size: 3.2em;
    margin-left: 10px;
  }
}

.purposeLed {
  font-size: .8em;
  margin-top: 20px;
  margin-bottom: -10px;
}
.purposeLed--mobile {
  font-size: .8em;
  margin-top: 15px;
  margin-bottom: -5px;
}

.titleInnovation {
  font-size: 1.37em;
  margin-left: -2px;
}
.titleInnovation--mobile {
  font-size: 1.1em;
  margin-left: -2px;
}

#textbox__subheading--white--mobile {
  color: white;
  font-size: 1.75em;
  width: 80%;
  margin-left: 10px;
}
#textbox__subheading--white {
  color: white;
  font-size: 1.75em;
  width: 60%;
  margin-left: 10px;
}


/*styling for time and place component*/

.timeAndPlaceContainer {
  height: 670px;
  width: 100%;
  background-color: #DCDCDC;
  padding-top: 30px;
  position: static;
  z-index: 5;
}
@media (min-width:700px){
  .timeAndPlaceContainer {
    height: 360px;
    padding-top: -30px;
  }
}

@media (min-width:769px){
  .timeAndPlaceContainer {
    height: 700px;
    padding-top: -30px;
  }
}

@media (min-width:1500px) {
  .timeAndPlaceContainer {
    height: 850px;
    padding-top: -30px;
  }
}

#timeandplace_heading {
  margin-top: 40px;
  font-size: 1.8em;
  z-index: 1;
  text-align: center;
  margin-bottom: 90px;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px) {
  #timeandplace_heading {
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
  }
}

.companyLogo {
  width: 20%;
  color: white;
  font-size: 6em;
  z-index: 1;
  display: block;
  text-align: center;
  position: absolute;
  margin-top: 5%;
  margin-left: 17%;
}
@media (min-width: 700px){
  .companyLogo {
    margin-left: 15%;
    margin-top: 30%;
  }
}

#mirumopusHashtag {
  text-align: center;
  width: 100%;
  margin-top: 3%;
  font-size: 2em;
  font-family: 'Mirum-Serif';
  color: #311836;
}
@media (min-width:700px) {
  #mirumopusHashtag {
    float: right;
    margin-top: 2%;
    font-size: 2em;
    margin-right: 5%;
    text-align: right;
  }
}


#getTickets {
  height: 40px;
  width: 250px;
  background-color: #E24498;
  float: right;
  padding-top: 10px;
  position: sticky;
  top: 0;
  color: white;
  text-align: center;
  margin-top: -25px;
  z-index: 8;
  font-family: 'Mirum-Sans-Bold';
  cursor: pointer;
}
@media (min-width:700px) {
  #getTickets {
    height: 47px;
    padding-top: 1.2%;
    margin-top: -35px;
    margin-right: 5%;
    z-index: 5;
  }
}

#getTicketsLink {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#demoSectionHeading {
  font-size: 1.8em;
  z-index: 1;
  text-align: center;
  color: #311836;
  font-family: 'Mirum-Sans';
}
@media (min-width:700px) {
  #demoSectionHeading {
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
  }
}


#eventTextBox {
  margin-left: 12%;
  margin-bottom: 200px;
  z-index: 1;
  margin-top: -100px;
}

@media (min-width:700px){
  #eventTextBox {
    margin-bottom: 0px;
    margin-left: 30%;
    margin-top: 4.5%;
  }
}

@media (min-width:769px) {
  #eventTextBox {
    margin-bottom: 0px;
    margin-left: 37%;
    margin-top: 4.5%;
  }
}



.SDtextbox {
  border: 15px solid #311836;
  height: 270px;
  padding: 10px;
  width: 70%;
  z-index: 1;
  position: relative;
  display: inline-block;
}

@media (min-width:700px) {
  .SDtextbox {
    border: 15px solid #311836;
    width: 250px;
    height: 315px;
    padding: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}

@media (min-width:769px) {
  .SDtextbox {
    border: 23px solid #311836;
    width: 350px;
    height: 415px;
    padding: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}


.SDtextbox__title {
  color: #311836;
  font-size: 4em;
  margin-left: 3%;
  margin-top: 10px;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px) {
  .SDtextbox__title {
    font-size: 4em;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (min-width:769px) {
  .SDtextbox__title {
    font-size: 6em;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.SDtextbox__subheading {
  color: #311836;
  font-size: 1.8em;
  bottom: 0;
  position: absolute;
  margin-left: 3%;
  margin-bottom: 20%;
  width: 70%;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width: 700px) {
  .SDtextbox__subheading {
    font-size: 2em;
    margin-left: 23px;
    margin-bottom: 20%;
  }
}

@media (min-width: 769px) {
  .SDtextbox__subheading {
    font-size: 2.5em;
    margin-left: 23px;
    margin-bottom: 20%;
  }
}

#datetime--mobile {
  margin-top: -165px;
  padding-left: 5%;
}

#datetime {
  margin-top: -150px;
}

#mapMarker {
  position: absolute;
  height: 70px;
  z-index: 1;
  margin-left: 5%;
  margin-top: 17%;
}

@media (min-width: 700px) {
  #mapMarker {
    margin-left: 6%;
    height: 130px;
    margin-top: 6%;
  }
}

@media (min-width: 769px) {
  #mapMarker {
    margin-left: 22%;
    height: 150px;
    margin-top: 30px;
  }
}


.map-directions {
  color: #311836;
  text-decoration: none;
  font-size: 1.5rem;
}

#date {
  font-size: 3em;
  margin-left: 35%;
  display: inline-block;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}

@media (min-width: 700px) {
  #date {
    font-size: 4.5em;
    margin-left: 64.5%;
    margin-top: 6%;
    display: block;
  }
}

@media (min-width: 769px) {
  #date {
    font-size: 4.5em;
    margin-left: 64.5%;
    margin-top: -7%;
    display: block;
  }
}

#day {
  color: #E24498;
  font-size: 2em;
  margin-top: -6%;
  z-index: 1;
  font-family: "Mirum-Sans-Bold";
  margin-left: -1%;
}

#time {
  font-size: 2.5em;
  margin-left: 5%;
  z-index: 1;
  display: inline-block;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}

@media (min-width: 700px) {
  #time {
    margin-left: 83%;
    margin-top: -15%;
    display: block;
  }
}

@media (min-width: 769px) {
  #time {
    margin-left: 76%;
    margin-top: -8%;
    display: block;
  }
}


/*styling for about section (photo, words, video)*/

.about {
  height: 1630px;
  width: 100%;
  background-color: #DCDCDC;
}
@media (min-width: 700px){
  .about {
    height: 1600px;
    margin-bottom: 10px;
  }
}
@media (min-width: 769px){
  .about {
    height: 2100px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1500px) {
  .about {
    height: 2150px;
    margin-bottom: 10px;
  }
}


#photoAndParagraph {
  margin-top: -12%;
  position: relative;
  z-index: 1;
}

#mission {
  font-size: 2em;
  width: 80%;
  margin-top: -100px;
  margin-left: 10%;
  z-index: 1;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width: 700px) {
  #mission {
    font-size: 1.5em;
    width: 30%;
    margin-top: -12%;
    margin-left: 10%;
    z-index: 1;
  }
}

@media (min-width: 769px) {
  #mission {
    font-size: 2.25em;
    width: 30%;
    margin-top: -20%;
    margin-left: 13%;
    z-index: 1;
  }
}

.mission-heading {
  color: #311836;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Mirum-Sans-Bold';
  margin-bottom: 10px;
  display: block;
}

#detailsPhoto {
  float: right;
  height: 300px;
  z-index: 1;
  position: relative;
  margin-top: -20%;
  margin-bottom: 20px;
}
@media (min-width:700px) {
  #detailsPhoto {
    width: 55%;
    height: auto;
    margin-top: -10%;
  }
}

.titleText {
  font-size: 3em;
  width: 100%;
  margin-left: 10%;
  width: 40%;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .titleText {
    font-size: 5em;
    display: block;
    margin-left: 50%;
    width: 30%;
    line-height: .9;
    margin-top: -40%;
    margin-bottom: 3%;
  }
}

@media (min-width: 769px) {
  .titleText {
    font-size: 5em;
    display: block;
    margin-left: 50%;
    width: 30%;
    line-height: .9;
    margin-top: -5%;
    margin-bottom: 3%;
  }
}

.descriptionParagraph {
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
  font-family: 'Mirum-Sans';
  color: #311836;
}

@media (min-width: 700px) {
  .descriptionParagraph {
    font-size: 1.1em;
    margin-left: 50%;
    margin-right: 0;
    width: 46%;
    line-height: 1.3;
  }
}

@media (min-width: 769px) {
  .descriptionParagraph {
    font-size: 1.1em;
    margin-left: 50%;
    margin-right: 0;
    width: 25%;
    line-height: 1.3;
  }
}

#videoIntro {
  font-size: 1.5em;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 5%;
  margin-left: 10%;
  font-family: 'Mirum-Serif';
  color: #311836;
}
@media (min-width: 700px) and (max-width:1500px){
  #videoIntro {
    font-size: 1.7em;
    line-height: 1.5;
    width: 45%;
    margin-bottom: 2%;
  }
}
@media (min-width: 1500px) {
  #videoIntro {
    line-height: 1.5;
    margin-bottom: 2%;
  }
}


#video {
  color: white;
  width: 100%;
  height: 211px;
  text-align: center;
  font-size: 6em;
}

@media (min-width:700px) {
  #video {
    height: 450px;
  }
}

@media (min-width:769px) {
  #video {
    height: 810px;
  }
}


/*styling for speakers page*/

.speakersPage {
  height: 5650px;
  width: 100%;
  margin-top: -35%;
  background-color: #DCDCDC;
}
@media (min-width: 700px){
  .speakersPage {
    height: 6500px;
  }
}

@media (min-width: 769px){
  .speakersPage {
    height: 5000px;
  }
}

@media (min-width: 1500px) {
  .speakersPage {
    height: 5400px;
  }
}

.middleSpeaker {
  padding-top: 10%;
  padding-bottom: 10%;
}

@media (min-width: 700px){
  .middleSpeaker {
    margin-left: 15%;
    padding-bottom: 0;
    padding-top: 5%;
  }
}

@media (min-width: 769px){
  .middleSpeaker {
    margin-left: 30%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.speakerRow {
  margin-top: 5%;
  margin-bottom: 5%;
}

.leftSpeakerBox {
  top: 0;
  display: block;
  padding-bottom: 5%;
}

@media (min-width: 700px){
  .leftSpeakerBox {
    margin-left: 18%;
    display: inline-block;
    padding-top: 10%;
    padding-bottom: 8%;
  }
}

@media (min-width: 769px){
  .leftSpeakerBox {
    margin-left: 12%;
    display: inline-block;
  }
}
@media (min-width: 1500px){
  .leftSpeakerBox {
    margin-left: 16%;
    display: inline-block;
  }
}

.leftSpeakerImg {
  display: inline-block;
  margin-left: 23px;

}

.rightSpeakerBox {
  top: 0;
  display: block;
  margin-top: 60px;
}

@media (min-width: 700px){
  .rightSpeakerBox {
    margin-left: 18%;
    display: inline-block;
    margin-bottom: 5%;
  }
}

@media (min-width: 769px){
  .rightSpeakerBox {
    margin-left: 15%;
    display: inline-block;
  }
}

@media (min-width: 1500px){
  .rightSpeakerBox {
    margin-left: 18%;
    display: inline-block;
    margin-bottom: 5%;
  }
}

.middleHover:hover .top{
  opacity:0;
}

.leftSpeakerBox:hover .top{
  opacity:0;
}


.rightSpeakerBox:hover .top{
  opacity:0;
}

.portrait {
  margin-top: -7%;
  margin-bottom: 20%;
  width: 250px;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}

@media (min-width: 700px) {
  .portrait {
    margin-top: -60px;
    margin-left: 170px;
    height: 395px;
    width: 320px;
  }
}

@media (min-width: 769px) {
  .portrait {
    margin-top: -60px;
    margin-left: 250px;
    height: 395px;
    width: 320px;
  }
}

.portrait--left{
  width: 250px;
  height: auto;
  opacity: 1;
  margin-top: -7%;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}
@media (min-width: 700px) {
  .portrait--left{
    margin-top: -60px;
    margin-left: 150px;
    height: 395px;
    width: 320px;
  }
}

.portrait--right{
  width: 250px;
  height: auto;
  margin-top: -7%;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}

@media (min-width: 700px) {
  .portrait--right {
    margin-top: -60px;
    margin-left: 140px;
    height: 395px;
    width: 320px;
  }
}

@media (min-width: 769px) {
  .portrait--right {
    margin-top: -60px;
    margin-left: 150px;
    height: 395px;
    width: 320px;
  }
}

.portrait-last {
  margin-top: 10px;
  width: 250px;
  height: auto;
  opacity: 1;
  display: inline-block;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  margin-left: 30%;
}

@media (min-width: 700px) {
  .portrait-last {
    margin-top: -50px;
    margin-left: 250px;
    height: 395px;
    width: 320px;
  }
}

@media (min-width: 769px) {
  .portrait-last {
    margin-top: -100px;
    margin-left: 250px;
    height: 395px;
    width: 320px;
  }
}
.textbox--fade {
  opacity: .5;
  border: 23px solid #311836;
  width: 350px;
  height: 415px;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.textbox {
  border: 15px solid #311836;
  height: 400px;
  width: 250px;
  padding: 0;
  z-index: 1;
  position: relative;
  display: block;
  margin-left: 10%;
  cursor:pointer;
}

@media (min-width:700px){
  .textbox {
    border: 15px solid #311836;
    width: 220px;
    height: 295px;
    padding: 10px;
    display: inline-block;
  }
}

@media (min-width:768px) {
  .textbox {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    display: inline-block;
  }
}

.smalltextbox {
  border: 12px solid #311836;
  height: 198px;
  width: 160px;
  padding: 0;
  z-index: 1;
  position: absolute;
  display: block;
  margin-left: 25%;
  margin-top: 10%;
}
@media (min-width:700px) {
  .smalltextbox {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    display: inline-block;
    margin-left: -20%;
    margin-top: 6%;
  }
}

.textbox__title {
  color: #311836;
  font-size: 3em;
  margin-top: 140px;
  margin-bottom: -20px;
  margin-left: 3%;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px) {
  .textbox__title {
    font-size: 3.5em;
    margin-top: 30px;
  }
}

@media (min-width:769px) {
  .textbox__title {
    font-size: 4em;
    margin-top: 30px;
    margin-left: 0;
  }
}

.textbox__subheading {
  color: #311836;
  font-size: 1.5em;
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  font-family: 'Mirum-Sans-Bold';
  width: 90%;
  margin-left: 5%;
}
@media (min-width:700px) {
  .textbox__subheading {
    font-size: 1.75em;
    margin-bottom: 5%;
    margin-left: 3%;
  }
}

.smalltextbox__title{
  color: white;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: -10px;
  padding-left: 2%;
  font-family: 'Mirum-Sans-Bold';
  position: absolute;
}
@media (min-width:700px) {
  .smalltextbox__title{
    color: white;
    font-size: 3.5em;
    margin-top: 20px;
    margin-bottom: -20px;
    font-family: 'Mirum-Sans-Bold';
  }
}

.textbox_twospeakers {
  border: 15px solid #311836;
  height: 400px;
  width: 250px;
  padding: 0;
  z-index: 1;
  position: relative;
  display: block;
  margin-top: -5px;
  margin-left: 10%;
  cursor:pointer;
}

@media (min-width:700px) {
  .textbox_twospeakers {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    display: inline-block;
    margin-top: 8%;
  }
}


@media (min-width:769px) {
  .textbox_twospeakers {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    display: inline-block;
    margin-top: 0%;
  }
}

.textbox2__title1 {
  color: #311836;
  font-size: 3em;
  margin-top: 110px;
  margin-bottom: -20px;
  margin-left: 3%;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width:700px) {
  .textbox2__title1 {
    font-size: 4em;
    margin-top: 30px;
  }
}

.textbox2__subheading1 {
  color: #311836;
  font-size: 1.75em;
  bottom: 0;
  position: absolute;
  margin-bottom: 150px;
  font-family: 'Mirum-Sans-Bold';
  width: 90%;
  margin-left: 5%;
}
@media (min-width:700px) {
  .textbox2__subheading1 {
    margin-bottom: 60%;
  }
}

.textbox2__title2{
  color: #311836;
  font-size: 3em;
  margin-top: 100px;
  font-family: 'Mirum-Sans-Bold';
  margin-left: 2%;
}
@media (min-width:700px){
  .textbox2__title2{
    margin-top: 140px;
    margin-bottom: -20px;
  }
}

.textbox2__subheading2 {
  color: #311836;
  font-size: 1.5em;
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  font-family: 'Mirum-Sans-Bold';
  width: 90%;
  margin-left: 5%;
}
@media (min-width:700px) {
  .textbox2__subheading2 {
    font-size: 1.75em;
    margin-bottom: 5%;
    margin-left: 3%;
  }
}

.smalltextbox__subheading{
  color: #311836;
  font-size: 1em;
  bottom: 0;
  position: absolute;
  padding-left: 2%;
  margin-bottom: 15%;
  font-family: 'Mirum-Sans-Bold';
}

@media (min-width:700px) {
  .smalltextbox__subheading{
    color: #311836;
    font-size: 1.8em;
    bottom: 0;
    position: absolute;
    margin-bottom: 10%;
    font-family: 'Mirum-Sans-Bold';
  }
}

.workshopTextbox {
  border: 15px solid #311836;
  height: 320px;
  width: 250px;
  padding: 0;
  z-index: 1;
  position: relative;
  display: block;
  margin-left: 10%;
  cursor:pointer;
}
@media (min-width:700px) {
  .workshopTextbox {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    margin-left: 0;
    padding: 10px;
    display: inline-block;
  }
}
@media (min-width:769px) {
  .workshopTextbox {
    border: 23px solid #311836;
    width: 320px;
    height: 395px;
    padding: 10px;
    display: inline-block;
  }
}

.workshopTextbox__title {
  color: #311836;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 3%;
  font-family: 'Mirum-Sans-Bold';
}
@media (min-width:700px) {
  .workshopTextbox__title {
    font-size: 4em;
    margin-top: 30px;
    margin-left: 0;
  }
}

.workshopTextbox__subheading {
  color: #311836;
  font-size: 1.5em;
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  font-family: 'Mirum-Sans-Bold';
  width: 90%;
  margin-left: 5%;
}
@media (min-width:700px) {
  .workshopTextbox__subheading {
    font-size: 1.75em;
    margin-bottom: 5%;
    margin-left: 3%;
  }
}

.keynoteText {
  margin-left: 25px;
}
@media (min-width:700px){
  .keynoteText {
    width: 318px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.keynoteText--middle {
  margin-left: 25px;
}
@media (min-width:700px){
  .keynoteText--middle {
    margin-left: 50px;
    margin-top: 20px;
  }
}

.keynoteTitle {
  font-size: 1.4em;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 10%;
  font-family: 'Mirum-Serif';
  color: #311836;
}
@media (min-width:700px){
  .keynoteTitle {
    margin-top: 1%;
  }
}

.keynoteDescription {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  width: 80%;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px) {
  .keynoteDescription {
    width: 90%;
  }
}

.keynoteDescription--last {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  width: 80%;
  font-family: 'Mirum-Sans';
  color: #311836;
}
@media (min-width:700px) {
  .keynoteDescription--last {
    width: 318px;
    margin-right: 90%;
  }
}

#speakers {
  margin-top: 28%;
  margin-left: 10%;
  margin-bottom: 35px;
  font-size: 1.8em;
  font-family: 'Mirum-Sans';
  color: #311836;
}

.plus{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 258px;
  cursor: pointer;
}

@media (min-width:700px){
  .plus{
    z-index: 5;
    height: 50px;
    margin-left: 13%;
    margin-top: 28%;
  }
}

@media (min-width:769px){
  .plus{
    z-index: 5;
    height: 50px;
    margin-left: 6%;
    margin-top: 15%;
  }
}

@media (min-width:1700px){
  .plus{
    z-index: 5;
    height: 50px;
    margin-left: 6%;
    margin-top: 11%;
  }
}

.plus--middle{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 270px;
  cursor: pointer;
}
@media (min-width:700px){
  .plus--middle{
    z-index: 5;
    height: 50px;
    margin-left: 15%;
    margin-top: 28%;
  }
}
@media (min-width:769px){
  .plus--middle{
    z-index: 5;
    height: 50px;
    margin-left: 10%;
    margin-top: 15%;
  }
}
@media (min-width:1700px){
  .plus--middle{
    z-index: 5;
    height: 50px;
    margin-left: 10%;
    margin-top: 11%;
  }
}

.plus--last{
  z-index: 2;
  position: absolute;
  height: 40px;
  margin-left: 17%;
  margin-top: 270px;
  cursor: pointer;
}
@media (min-width:700px){
  .plus--last{
    z-index: 5;
    height: 50px;
    margin-left: 16%;
    margin-top: 40%;
  }
}
@media (min-width:769px){
  .plus--last{
    z-index: 5;
    height: 50px;
    margin-left: 10%;
    margin-top: 17.5%;
  }
}

@media (min-width:1700px){
  .plus--last{
    z-index: 5;
    height: 50px;
    margin-left: 10%;
    margin-top: 13%;
  }
}

.demosandworkshopsPage {
  width: 100%;
  background-color: #DCDCDC;
  height: 1800px;
  padding-top: 50px;
}
@media (min-width: 700px) and (max-width: 769px) {
  .demosandworkshopsPage {
    height: 2200px;
  }
}
@media (min-width: 769px) and (max-width: 1500px) {
  .demosandworkshopsPage {
    height: 1600px;
  }
}
@media (min-width:1500px){
  .demosandworkshopsPage {
    height: 1700px;
    padding-top: 0;
  }
}

#workshop_elements {
  padding-top: 12%;
  display: block;
}

#workshop_elements--inline {
  display: block;
  margin-bottom: 3%;
}

#workshopElement--left {
  display: block;
  margin-bottom: 30px;
}
@media (min-width:700px){
  #workshopElement--left {
    margin-left: 25%;
    margin-bottom: 0;
    width: 50%;
  }
}
@media (min-width:769px){
  #workshopElement--left {
    display: inline-block;
    margin-left: 7%;
    margin-bottom: 0;
    width: 31%;
  }
}

#workshopElement--right {
  display: block;
  margin-bottom: 30px;
}
@media (min-width:700px) {
  #workshopElement--right {
    display: inline-block;
    margin-left: 25%;
    margin-bottom: 0;
    width: 50%;
  }
}
@media (min-width:769px) {
  #workshopElement--right {
    display: inline-block;
    margin-left: 15%;
    margin-bottom: 0;
    width: 31%;
  }
}

.demoBox {
  font-size: 1.1em;
  cursor: default;
}
@media (min-width:700px) {
  .demoBox {
    font-size: 1.5em;
  }
}
@media (min-width:769px) {
  .demoBox {
    font-size: 1.5em;
    margin-left: 10%;
  }
}

.workshopParagraph {
  font-size: 1.1em;
  display: inline-block;
  text-align: left;
  font-family: 'Mirum-Sans';
  color: #311836;
  margin-left: 10%;
  margin-right: 10%;
}
@media (min-width: 700px){
  .workshopParagraph {
    padding-left: 0;
    line-height: 1.5;
    margin-top:8%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 769px) and (max-width:1500px){
  .workshopParagraph {
    padding-left: 10%;
    line-height: 1.5;
    margin-top:8%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1500px){
  .workshopParagraph {
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.demosandworkshops--bottom {
  display: block;
}
@media (min-width: 700px){
  .demosandworkshops--bottom {
    margin-left: 25%;
    width: 50%;
  }
}
@media (min-width: 769px){
  .demosandworkshops--bottom {
    margin-left: 35%;
    width: 31%;
  }
}

#footer {
  width: 100%;
  background-color: #DCDCDC;
  height: 800px;
}
@media (min-width:700px) and (max-width:1500px){
  #footer {
    height: 900px;
  }
}
@media (min-width:1500px){
  #footer {
    height: 1000px;
  }
}


.otherSponsors {
  text-align: center;
}

.otherSponsors__text {
  font-family: 'Mirum-Sans';
  color: #311836;
  line-height: 3;
}

#lingotek_logo {
  width: 120px;
}
@media (min-width:700px){
  #lingotek_logo {
    width: 240px;
  }
}

#mirum-pic{
  height: auto;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 10%;
}
@media (min-width:700px){
  #mirum-pic{
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }
}
@media (min-width:769px){
  #mirum-pic{
    width: 70%;
    height: auto;
    margin-bottom: 0;
    display: inline-block;
  }
}

#btm-text{
  position: absolute;
  margin: 0% 10% 0% 10%;
  font-family: 'Mirum-Sans';
  color: #311836;
  font-size: 1.1em;
}
@media (min-width:700px) {
  #btm-text{
    margin: 10% 0% 0% 10%;
    display: inline-block;
    line-height: 1.5;
    width:80%;
  }
}
@media (min-width:769px) {
  #btm-text{
    margin: 10% 5% 0% 2%;
    display: inline-block;
    line-height: 1.5;
    width:20%;
  }
}

#social{
  margin-top: 40%;
  position:relative;
  margin-left: 1%;
}
@media (min-width: 700px){
  #social{
    margin-left: 33%;
    display:block
  }
}
@media (min-width: 769px){
  #social{
    margin-left: 1%;
    position:absolute;
    display: inline;
  }
}
@media (min-width: 1600px){
  #social{
    margin-top: 33%;
  }
}

#twitter{
  width:60px;
  height:60px;
  fill: #311836;
  margin-top: 85%;
  margin-left: 0%;
}
@media (min-width:700px){
  #twitter{
    margin-top: 0%;
  }
}

#facebook{
  width:60px;
  height:60px;
  fill: #311836;
  margin-left: 15%;
}
@media (min-width:700px){
  #facebook{
    margin-left: 0;
  }
}

#linkedin{
  width:60px;
  height:60px;
  fill: #311836;
}

#instagram{
  width:60px;
  height:60px;
  fill: #311836;
}


.modal {
  display: none;
  font-family: "Mirum-Sans";
  background-color: #E24498;
  color: white;
  z-index:5;
  position: -webkit-sticky;
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  /*display: block;*/
  padding: 100px 10px 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.modal__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.speaker:before,
.speaker:after {
  clear: both;
  display: block;
  content: '';
  height: 0;
}
@media (min-width: 700px) {
  .speaker {
    margin-top: 0%;
    margin-left: 3%;
  }
}

@media (min-width: 700px){
  .modal-columns {
    width: 34%;
    margin-left:42%;
    margin-top: -25%;
  }
}

.closeButton {
  float: right;
}

.speaker h1 {
  font-size: 2em;
  font-family: "Mirum-Sans-Bold";
}
@media (min-width: 700px) {
  .speaker h1 {
    font-size: 3em;
  }
}

.speaker h3 {
  font-size: 1.3em;
  font-family: "Mirum-Sans-Bold";
  color: #311836;
}

.speaker img {
  margin-left: 20%;
  float: left;
  max-height: 200px;
}
@media (min-width: 700px) {
  .speaker img {
    margin-left: 0;
    margin-right: 15px;
    float: left;
    max-height: none;
    height: 395px;
    width: 320px;
  }
}

.modal_bio p{
  margin-top: 25%;
  color: #311836;
  margin-left: 10%;
  width: 80%;
}
@media (min-width: 700px) {
  .modal_bio p{
    margin-top: 10%;
    margin-left: 0;
    width: 100%;
  }
}

.modal_talk {
  color: #311836;
  margin-left: 10%;
  width: 80%;
}
@media (min-width:700px) {
  .modal_talk {
    margin-left: 0;
  }
}

.modal_talk h2 {
  font-size: 2.25em;
  font-weight: 400;
  font-family: "Mirum-Serif";
  color: white;
}

.modal_talk h3 {
  color: #311836;
  font-weight: 400;
  font-size: 1em;
}

.modal_talk p {
  color: #311836;
  margin-top: 0%;
}

.mirumagency_link {
  text-decoration: none;
  color: #311836;
}
